node_modules/hugo-extended/vendor/hugo 
node_modules/bootstrap/node_modules/hugo-bin/vendor/hugo
package-lock.json

# Hugo
.hugo_build.lock
/public
resources/

# vim temporary files
*~
*.sw?

# system files
.DS_Store

# IDE files
.idea

# VS Code
/.vscode/**
!/.vscode/cspell.json
